*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Write CSS code below */
.main-content{
    display: grid;
    grid-template-columns: 300px 700px;
    min-height: 1000px;
    background-color: rgba(71, 67, 67, 0.733);
    box-sizing: border-box;
    /* padding: 20px;
    padding-left: 15px; */
}
.left-section{
    background-color: black;
    color: white;
    grid-column:span 1;
    /* margin: auto; */
    /* min-width: 300px; */
    

}
.right-section{
    background-color:white;
    grid-column: span 1/ span 2;
    width: 90%;
    min-width: 300px;
}
.left-content{
    padding: 1rem;
    text-align: center;
}

.profile-image{
    display: block;
    margin: auto;
    /* height: 50%; */
    border: 5px white solid;
    width: 60%;
    border-radius: 30%;
}
.name{
    font-size: 1.2rem;
    font-weight:700;
    text-align: center;
    letter-spacing:0.02px;
    padding: 0.8rem;
    text-transform: uppercase; 
    
}
.fa-brands{
    cursor: pointer;  
}
.designation{
    font-style: normal;
    font-size: 1rem;
    text-align: center;
    text-transform:uppercase;
    padding-bottom: 0.5rem;
    color: antiquewhite;
    border-bottom: 2px solid rgba(255, 255, 255, 0.534);
    color: rgb(79, 79, 228);
}
.description{
    font-size: .75rem;
    text-align: center;
    padding: 1rem;
}
.social-media{
    display: inline-block;
    padding: 10px;   
}
.fa-brands{
    color: rgb(79, 79, 228);
}
.other-detail{
    font-size: medium;
    text-align: left;
}
.skills{
    font-size: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 0.5rem;
    
}
.progress-bar{
    border: 1px solid white;
    height: 4px;
    background-color: white;
}
.skill-name{
    font-size: 0.65rem;
    font-weight: 0.65rem;
    text-align: left;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}
/* right section */
.right-main-content{
padding: 2rem 3rem;

}
.right-title{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
    letter-spacing: 1px;
}
.p-title{
    font-weight: 700;
    font-size: 1 srem;
}
.college-details ,.project-details{
    display: flex;
    justify-content:space-between
}
@media screen and (max-width:673px) {
    .main-content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr 1fr;
        width: 90%;
        min-height: 1000px;
    }
    .left-section{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .right-section{
        grid-column: 1/2;
        grid-row: 2/3;
    }
}